* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins,sans-serif;
}
.hidden {
  display: none;
}
.visible {
  display: flex;
}

body{
  background-image: url(./360_F_345880772_zIT2mkdCzTthplO7xqaGGrMspN0jw0ll.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(73, 111, 206);
  color: #fff;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.screen1 button {
  padding: 15px 25px;
  border: none;
  border-radius: 15px;
  background-color: blue;
  color: #fff;
  font-weight: 600;
  font-size: medium;
  cursor: pointer;
  /* box-shadow: 0px 0px 20px 1px deepskyblue; */
}

/* .screen1 button:hover{
  transition: all 2ms;
  transform: rotatex(120deg);
} */

.nextDiv button {
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  background-color: blue;
  color: #fff;
  font-weight: 600;
  font-size: medium;
  cursor: pointer;
  margin-top: 2rem;
}



.screen2{
  width: 50%;
  background-color:rgba(243, 87, 214, 0.6);
  padding: 25px;
  border-radius: 10px;
  height: 400px;
  text-align: center;
  position: relative;
}

.timer{
  position: absolute;
  top: 3px;
  right:10px;
  border-radius: 50%;
  /* padding: 5px; */
  width: 40px;
  height: 40px;
  background-color: blueviolet;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size:x-large;
}

.question{
  font-size: 25px;
  margin-top: 3rem;
  background-color: green;
  color: #fff;
  padding: 5px;
  border-radius: 20px;
}

.options{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}
.options button{
  /* padding: 10px 20px; */
  border: none;
  background-color: beige;
  margin: 10px;
  width: 100px;
  height: 40px;
  border-radius: 15px;
  font-size: medium;
  cursor: pointer;
  margin-top: 3rem;
  transition: all 0.4s ease-in-out;
}





.screen3{
  text-align: center;
}

.screen3 h3{
  font-size: 35px;
  color: goldenrod;
}

.screen3 h4{
  color: green;
  margin-top: 1rem;
  font-size: 30px;
}

.screen2 .timelineDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.screen2 .timelineDiv .circle {
  display: inline-flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: skyblue;
  justify-content: center;
  align-items: center;
  color:brown;
  position: relative;
}
.screen2 .timelineDiv .circle::before {
  content: "";
  position: absolute;
  left: 100%;
  top: 45%;
  width: 100px;
  height: 2px;
  background-color: #fff ;
}
.screen2 .timelineDiv .circle.active {
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.screen2 .timelineDiv .circle:last-of-type::before {
  width: 0;
}

.screen3{
  background-color: aquamarine;
  width: 500px;
  height: 300px;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
}

/* .screen3 h3 {
  font-size: 3rem;
}
.screen3 h4 {
  font-size: 1.5rem;
} */

#input{
  padding: 10px;
  border: 1px solid green;
  border-radius: 15px;
  font-size: large;
}